## Ignórense archivos temporales de Word
~$*
*.tmp

## Ignórense residuos de compilación Python
__pycache__/
bould/
__pypackages__/
*.spyderproject
*.spyproject

## Ignórese el link para ir al repositorio manualmente
*.url